streamlit
langchain
langchain-community
langchain-groq
langchain-huggingface
langchain-chroma
langgraph
chromadb
sentence-transformers
pypdf
python-docx
pandas
tiktoken
reportlab
fpdf2
python-dotenv
arxiv
requests
python-pptx